h1 {
    text-align:center;
    color: #0000FF;
    font-family: Verdana;
    font-size: 20pt;
}
h2 {
    text-align: right;
    color: #800000;
    font-family: Verdana;
    font-size: 16pt;
}
p {
    text-align: justify;
    color: #191970;
    font-family: Arial;
    font-size: 12pt;
    font-weight: bold;
}
body {  
    background-image: url(fon9.jpg);
}
h3 {
    text-align: left;
    color: blue;
    font-family: Verdana;
    font-size: 14pt;
}
ol {
    list-style-type: upper-roman;
    color: coral;
    font-family: Verdana;
    font-size: 10pt;
}
ul {
    list-style-image: url(spisok_1.gif);
    color: coral;
    font-family: Verdana;
    font-size: 10pt;
}
h1.main, h1.golub, h1.krasn, h1.oranzhev, h1.zelen {
    color: navy;
    font-family: Verdana;
    text-align: left;
    font-size: 14pt;
}
h1.main {color: navy;}
h1.golub {color: blue;}
h1.krasn {color: red;}
h1.zelen {color: green;}
h1.oranzhev {color: orange;}
p.one, p.two, p.three, p.four, p.five {
    color: navy;
    font-family: Verdana;
    text-align: left;
    font-size: 10pt;
}
p.one {
    color: navy;
    text-align: center;
}
p.two {
    color: blue;
}
p.three {
    color: red;
    text-align: right;
}
p.four {
    color: green;
    text-align: justify;
}
p.five {
    color: orange;
    text-align: center;
}